
.info {
    display: flex;
    justify-content: space-between;
}

.info div {
    padding: .6rem;
}

.stars {
    margin: auto;
}

.stars img {
    height: 1.5rem;
    padding: 3px;
}

.buttonContainer {
    margin: auto 0;
    padding: 1rem;
}

.buttonContainer button {
    padding: .8rem;
    background-color: #424242;
    border-radius: 4px;
    cursor: pointer;
}

.divider {
    border-bottom: 1px solid #424242;
}

.reviewStars {
    margin: auto 0;
}

.reviewStars img{
    height: 1.2rem;
    padding: 2px;
}

.review {
    border-bottom: 1px solid #424242;
}

.reviewRating {
    display: flex;
    width: 100%;
}

.reviewRating div {
    padding: 1.2rem;
}

.reviewText {
    padding: 0 .8rem .8rem 1.5rem;
    line-height: 1.5rem;
}

.reviewNumber {
    font-size: 1.5rem;
}

.modal {
    background-color: #424242 !important;
}

/* start of review stars functionality */
.userRatingStars {
    cursor: pointer;
    display: flex;
}

/* stars are by default slightly grayed out, then ... */
.userRatingStars img {
    height: 2rem;
    filter: grayscale(80%);
    padding: 5px;
}

/* on hover, make all of them full color, then ... */
.userRatingStars:hover img {
    filter: grayscale(0%);
}

/* all stars after (~) the hovered star should be grayed out */
.userRatingStars img:hover ~ img {
    filter: grayscale(80%);
}

/* class for when a user clicks a star, they stay active */
.active {
    filter: grayscale(0%) !important;
}
/* end of review stars functionality */

.error {
    padding: .5rem;
    margin: .5rem 0;
    background-color: #ffc3c3;
    border: red 2px solid;
    border-radius: 5px;
    color: black;
}

.dontShow {
    display: none;
}

.userRatingContent {
    padding: 0 1rem;
}

.userRatingHeader {
    border-bottom: 1px solid #797979;
}

.userReview textarea {
    color: black;
    width: 70%;
    height: 3rem;
}

.submit {
    color: black;
    padding: 5px; 
    margin: .8rem 0;
}

@media only screen and (max-width: 600px) {
    .card {
        padding: 1rem;
    }
    
    .info div{
        padding: .2rem;
    }

    .info {
        margin-bottom: 1rem;
    }

    .userRatingContent {
        padding: 0;
    }

    .userReview textarea {
        width: 90%;
    }
  }